DATABASE_URL=postgres://postgres:postgres@localhost:5432/prediction-markets
SECRET_KEY=jwtkey
PROGRAM_ID=AA9xwyVDCqHJTSPtigKyvLhaMpgjmU7CCT99SXWt43DP
REDIS_PORT=6379
REDIS_ADDRESS=localhost
REDIS_PASSWORD = password
SOLANA_HTTP_RPC_URL=https://api.devnet.solana.com
SOLANA_WS_RPC_URL = wss://api.devnet.solana.com
HELIUS_AUTH_HEADER=Bearer your_secret
WEBHOOK_PORT=3004
HELIUS_WEBHOOK_ONLY=true